body {
    background-color: #000000; 
    color: #ffffff; /* Color del texto */
    margin: 0;
    padding: 0;
    height: 500vh; /* Altura total de la ventana */
    justify-content: center;
    align-items: center;
}
.franja-arriba {
    display: flex; /* Define este div como un contenedor flex */
    flex-direction: row; 
    width: 100%; /* Ancho completo */
    height: 80px; /* Altura completa */
    align-content: flex-start;
    background-color: #202020;
}
        
/*tituloprincipal (inicio)*/
.titulocentrado {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.tituloinicial {
    opacity: 0;
    animation: fadeIn 2s ease-in forwards; 
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
/*tituloprincipal (final)*/

.arreglarimg { 
    width: 1820px; 
    height: 500px; 
}

.arreglarimg img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Puedes usar cover, contain, fill, etc. */
}