@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,251;1,9..40,251&display=swap');
 
body {
    color: #ffffff; /* Color del texto */
    margin: 0;
    padding: 0;
    height: 1000vh; /* Altura total de la ventana */
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at top, rgb(134, 0, 223), #13001f, #13001f, #13001f, #13001f, #13001f, #050008, #050008,#050008); /* Fondo con degradado circular estático */
    background-size: 500vh 1000vh; /* Tamaño del degradado para que sea circular */
    background-position: center; /* Posición del degradado en el centro */
}
/*prueba*/
.logo{
    width: 50px;
}
header{
    position: absolute;
    z-index: 9999;
    width: 100%;
    padding: 0;
    top: 0;
    left: 0;
    border-bottom: 1px solid #26003b;
}
header nav{
    background-color: #26003b;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul{
    display: flex;
    list-style: none;
    align-items: center;
}
header ul li{
    text-decoration: none;
    color: white;
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.83rem;
}
.hamburguesa{
    padding-left: 1.5rem;
}
.hamburguesa a{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    display: flex;
    background-color: rgba(115, 115, 115, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
}
.hamburguesa .barra{
    position: relative;
    width: 52%;
    height: 1.3px;
    background-color: white;
    border-radius: 2px;

}
.hamburguesa .barra::before, .hamburguesa .barra::after{
    content: "";
    position: absolute;
    left: 20%;
    width: 60%;
    height: 100%;
    background-color: inherit;
    border-radius: 2px;
}

.hamburguesa .barra::before{
    top: -4.5px;
}
.hamburguesa .barra::after{
    top: 4.5px;
}
main{
    position: relative;
    height: 100vh;
    width: 99vw;

}
.para{
    pointer-events: none;
    transform: translate(-50%, -50%)
}   

.p1{
    position: absolute;
    overflow: hidden;
    clip-path: inset(0 0 0 0);  
    z-index: 7;
    width: 25em;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%) rotate(-35deg);
}

.p2{
    position: absolute;
    overflow: hidden;
    clip-path: inset(0 0 0 0);  
    z-index: 8;
    width: 400px;
    top: 59.8%;
    left: 55.5%;
    transform: translate(-50%, -50%) scaleX(-1) rotate(252.4deg);
}
 .p3{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 50px;
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    color: white;
    transition: box-shadow .1s;
    transform: .1s;
    background: no-repeat;
    }
    .p3:hover{
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
    }
.p4{   
    position: absolute;
    z-index: 6;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    top: 52%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    color: white;
}
.p5{   
    position: absolute;
    z-index: 5;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    top: 52%;
    left: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    color: white;
}
.p6{
    position: absolute;
    overflow: hidden;
    clip-path: inset(0 0 0 0);  
    z-index: 4;
    width: 350px;
    top: 28%;
    left: 12%;
    transform: translate(-50%, -50%);
}
.p7{
    position: absolute;
    overflow: hidden;
    clip-path: inset(0 0 0 0);  
    z-index: 3;
    width: 350px;
    top: 79.5%;
    left: 88%;
    transform: translate(-50%, -50%);
}


.p8{
    position: absolute;
    overflow: hidden;
    clip-path: inset(0 0 0 0);  
    z-index: 2;
    width: 400px;
    top: 18%;
    left: 88%;
    transform: translate(-50%, -50%) rotate(90deg);
}
.p9{
    position: absolute;
    overflow: hidden;
    clip-path: inset(0 0 0 0);  
    z-index: 1;
    width: 400px;
    top: 85%;
    left: 15%;
    transform: translate(-50%, -50%) scaleX(-1) rotate(20deg);
}
/*prueba*/
/*presentacion1*/

.presentacion1{
font-family: "DM Sans", sans-serif;
font-size: 30px;
width: 1000px;
height: 228px;
border: 2px solid #ffffff;
padding: 10px;
border-radius: 10px;
transition: transform 0.3s ease;
opacity: 0;
display: flex;
justify-content: center;
}
.presentacion1:hover{
    transform: scale(1.5);
}
.presentacion{
    display: flex;
    justify-content: center;
    text-align: center;
    }

    
.tituloP{
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-style: light;
    font-size: 50px;
    position: relative;
    top: 100px;
    max-width: 500px;
    text-align: center;
    display: flex;
    justify-content: left;
    }

  /*carousel*/

  .carousel-container {
      overflow: hidden;
      clip-path: inset(0 0 0 0);  
      position: relative;
      width: 90%;
      max-width: 1200px;
      border-radius: 10px;
      background-color: #26003b;
      box-shadow: 0 32px 64px #11001ace;
      display: flex; 
      top: -280px;
      left: 30%;
      border: 2px solid transparent; 
      transition: border 0.01s ease; 
  }
  .carousel-container:hover {
    border: 2px solid rgb(153, 0, 255); 
}

@keyframes borderAnimation {
  0% {
      border-color: white;
  }
  50% {
      border-color: rgb(153, 0, 255);
  }
  100% {
      border-color: white;
  }
}

.carousel-container {
  animation: borderAnimation 3s infinite; 
}
  .carousel {
    display: flex;
    transition: transform 0.5s ease;
  }

  .carousel-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 100%;
    box-sizing: border-box;
    text-align: left;
  }

  .carousel-item img {
    width: 25%;
    height: auto;
  }
  .carousel-text {
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
    font-size: 25px;
    font-family: "DM Sans", sans-serif;
}
.second-item img {
  width: 339px; /* Hacer la imagen un poco más grande */
  height: auto;
}
button {
  position: absolute;
  top: 50%;
  border-radius: 10px;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
}
button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

 .TituloT{
    font-family: "DM Sans", sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    position: absolute;
    right: 10%;
    max-width: 500px;
 }
  .Per{
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    width: 800px;
    height: 228px;
    font-size: 25px;
    border: 2px solid #ffffff;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    left: 10%;
 }

.Mant{
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    width: 300px;
    height: 228px;
    border: 2px solid #ffffff;
    padding: 10px;
    border-radius: 10px; 
    margin-left: 1190px;
}
.Mant {
    border: 2px solid #ffffff; 
    animation: border-blink 3s infinite; 
  }
  @keyframes border-blink{
    0% {
      border-color: #ffffff; 
    }
    50% {
      border-color: rgb(153, 0, 255); 
    }
    100% {
      border-color: #ffffff; 
  }}

.ejeYM{
    transform: translateY(-310px);
} 
.futu{
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    width: 500px;
    height: 230px;
    border: 2px solid #ffffff;
    padding: 10px;
    border-radius: 10px;
    padding: auto;
}
.TituloF{
    font-family: "DM Sans", sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}
.TituloF {
    animation: blink 3s infinite; 
  }

.Objt{
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    width: 500px;
    height: 230px;
    border: 2px solid #ffffff;
    padding: 10px;
    border-radius: 10px;
    padding: auto;
}
.tituloO{
    font-family: "DM Sans", sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}
.tituloO {
    animation: blink 3s infinite; 
  }
.GoogleA{
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    width: 500px;
    height: 230px;
    border: 2px solid #ffffff;
    padding: 10px;
    border-radius: 10px;
    padding: auto;
}
.googlea{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tituloG{
    font-family: "DM Sans", sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}
.tituloG {
    animation: blink 3s infinite; 
}
.TituloR{
    font-family: "DM Sans", sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}
.TituloR{
    animation: blink 3s infinite; 
}
.Lista{
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    width: 500px;
    height: 230px;
    border: 2px solid #ffffff;
    padding: 10px;
    border-radius: 10px;
    padding: auto;
}
.TituloC{
    font-family: "DM Sans", sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;  
}
.TituloC{
    animation: blink 3s infinite; 
}
.concl{
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    width: 500px;
    height: 230px;
    border: 2px solid #ffffff;
    padding: 10px;
    border-radius: 10px;
    padding: auto;
} 
.TituloCO{
    font-family: "DM Sans", sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}
.TituloCO{
    animation: blink 3s infinite; /* Aplica la animación al borde del cuadro de texto */
}
.dropdown {
    position: relative;
    display: inline-block;
   }
  .dropbtn {
    background-color: rgb(134, 0, 223);
    box-shadow: 2px 2px 8px 2px rgb(134, 0, 223);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(134, 0, 223);
    min-width: 160px;
    box-shadow: 4px 4px 10px 4px rgb(134, 0, 223);
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10%;
    transition: max-height 0.5s ease-out; 
    overflow: hidden; 
    max-height: 0; 
  }
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #e628dc;
  }
  
  .dropdown .dropdown-content {
    max-height: 500px; 
    transition: max-height 1s ease-in; 
  }
  
  .dropbtn{
    transition: all .4s ease-in-out;
  }
  .dropbtn:hover {
    transform: scale(1.4);
    }
    }